@use '../utils/' as *;

.feature {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: rem(40) rem(12);
  margin-bottom: rem(40);
  &-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: rem(24);

    &__icon {
      font-size: rem(40);
    }

    &__title {
      font-size: rem(24);
    }
  }
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: rem(64) 0;
}
