@use '../utils/' as *;

.profile__banner {
  position: relative;
  height: rem(300);
  padding: rem(24) rem(64);
  background-image: url('https://images.unsplash.com/photo-1500527345693-70ae22009d69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: #353026, $alpha: 0.7);
  }

  &-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
      z-index: 1;
    }

    @include breakpoint-down(small) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  .greeting {
    .title {
      color: var(--white);
      margin-bottom: rem(8);
      span {
        text-transform: capitalize;
      }
    }
  }

  .user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-image {
      border-radius: 50%;
      height: rem(160);
      width: rem(160);
      margin-bottom: rem(16);
      @include breakpoint-down(medium) {
        margin-bottom: rem(16);
        height: rem(100);
        width: rem(100);
      }
    }

    &-edit {
      color: var(--light-text1);
      background-color: var(--primary);
      padding: rem(4) rem(8);
      font-weight: 500;
      cursor: pointer;
      &:hover {
        @include transition;
        background-color: var(--dark-bg-light);
        color: var(--light-grey);
      }
    }
  }
}

.user__review {
  position: relative;
  background-color: var(--bg-light);
  width: 100%;
  margin-bottom: rem(24);

  display: flex;
  align-items: center;

  &:hover {
    @include transition;
    @include shadow;
  }

  @include breakpoint-down(small) {
    flex-direction: column;
  }

  &-rating {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--danger);
    color: var(--white);
    font-size: 1.4em;
    padding: rem(4);
  }

  &-restaurant__img {
    width: rem(160);
    height: rem(120);
    margin-left: rem(24);

    @include breakpoint-down(small) {
      width: 100%;
      margin-left: 0;
    }

    img {
      object-fit: cover;
      width: auto;
      height: 100%;
      @include breakpoint-down(small) {
        width: 100%;
      }
    }
  }

  &-restaurant__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 rem(24);
    .title__info {
      display: flex;
      flex-direction: column;
      &-title {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: rem(4);
      }
    }
  }
}
