:root {
  --primary: hsl(41, 100%, 50%);
  --warning: hsl(37, 97%, 70%);
  --danger: hsl(1, 77%, 46%);
  --info: hsl(210, 78%, 56%);
  --success: hsl(150, 77%, 46%);
  --default: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);

  --light-grey: hsl(0, 0%, 83%);
  --light-grey-50: hsl(0, 0%, 88%);
  --dark-grey: hsl(240, 16%, 23%);
  --dark-grey-50: hsl(240, 5%, 45%);

  --dark-bg: hsl(220, 10%, 12%);
  --dark-bg-light: hsl(220, 10%, 20%);
  --dark-bg-dark: hsl(220, 10%, 9%);

  --dark-text1: hsl(45, 20%, 80%);
  --dark-text2: hsl(45, 10%, 65%);
  --dark-text3: hsl(45, 10%, 50%);

  --light-bg: hsl(0, 0%, 90%);
  --light-bg-light: hsl(0, 0%, 94%);
  --light-bg-dark: hsl(0, 0%, 80%);

  --light-text1: hsl(0, 0%, 15%);
  --light-text2: hsl(0, 0%, 12%);
  --light-text3: hsl(0, 0%, 9%);
}
