@use '../utils/' as *;

.btn {
  font-family: var(--font-popping);
  font-size: rem(16);
  font-weight: 500;
  height: max-content;
  background-color: var(--default);
  padding: rem(4) rem(16);
  color: var(--light-text1);
  border: 1px solid var(--default);
  cursor: pointer;
  &:hover {
    @include transition;
    filter: brightness(0.9);
  }
}

.btn-outline {
  background-color: var(--bg-light);
  color: var(--primary) !important;
  border-color: var(--primary);
  &:hover {
    @include transition;
    background-color: var(--primary);
    color: var(--white) !important;
    border-color: var(--primary);
    filter: brightness(1) !important;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white) !important;
  border-color: var(--primary);
  &:hover {
    @include transition;
    background-color: var(--bg-light);
    color: var(--primary) !important;
    border-color: var(--primary);
    filter: brightness(1) !important;
  }
}

.btn-lg {
  font-size: rem(18);
  padding: rem(8) rem(20);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-icon {
  font-size: rem(16);
  width: min-content;
}

.disabled {
  pointer-events: none;
  color: var(--dark-text3);
}

.uppercase {
  text-transform: uppercase;
}

button[type='submit'],
a[type='submit'],
input[type='submit'] {
  display: block;
  width: 100%;
  text-align: center;
  font-size: rem(16);
  padding-top: rem(8);
  padding-bottom: rem(8);
  margin-bottom: rem(16);
}

.btn-back,
.btn-edit,
.btn-delete {
  background: none;
  border: none;
  outline: none;
  font-size: rem(22);
  cursor: pointer;
}

.btn-edit,
.btn-delete {
  margin: 0 rem(4);
  &:hover {
    @include transition;
    filter: brightness(1.3);
  }
}

.btn-edit {
  color: var(--primary) !important;
}

.btn-delete {
  color: var(--danger);
}

.btn-back {
  display: block;
  margin-top: rem(24);
  margin-bottom: rem(24);
  color: var(--text1);
  &:hover {
    @include transition;
    color: var(--primary);
  }
}

.dark__mode-toggler {
  .dark__mode-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  .icon {
    font-size: rem(20);
    color: var(--dark-text2);
    &-active {
      @include transition($duration: 0.2s);
      color: var(--primary);
    }
  }
}
