@use '../utils/' as *;

.search {
  position: relative;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;

  & > * {
    z-index: 999;
  }

  &-close__btn {
    position: absolute;
    top: rem(32);
    right: rem(32);
    background: none;
    border: none;
    color: var(--dark-text1);
    font-size: rem(36);
    cursor: pointer;

    &:hover {
      @include transition;
      color: var(--primary);
    }
  }

  .search-form {
    width: 80%;

    h1 {
      color: var(--primary);
      margin-bottom: rem(32);
      text-align: center;
    }

    .searchbar {
      width: 100%;
      height: rem(80);
      display: flex;
      justify-content: center;
      &__input {
        width: 100%;
        height: rem(80) !important;
        font-size: rem(24);
        margin: 0;
        padding: rem(16);
        border: none;
      }
      &__btn {
        height: rem(80);
        width: rem(80);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background: var(--primary);
        border: 1px solid var(--primary);
        padding: rem(16);
        margin-left: rem(1);
        cursor: pointer;
        &:hover {
          @include transition;
          background-color: var(--dark-bg);
          color: var(--primary);
        }
      }
    }
  }
}

.show {
  @include transition;
  opacity: 1;
  pointer-events: all;
}
